:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #f1f0ed;
  --second-brand-color: #cccccc;
  --third-brand-color: #da916c;
  --fourth-brand-color: #454441;


  --main-font:  'Montserrat';
  --title-font:  'Cormorant Infant Bold';

  font-size: 62.5%;
}
